
<section class="container customMargin counters-section">
  <div class="row text-center" data-aos="fade-up" data-aos-delay="100">

    <div class="col-lg-4 col-md-4 col-12 mb-4 fade-up">
      <div class="counter-card">
        <h2 class="counter text-light" data-target="10">10</h2>
        <p class="text-light">Years of Experience</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4 fade-up delay-1">
      <div class="counter-card">
        <h2 class="counter text-light" data-target="1500">1500</h2>
        <p  class="text-light">Products Sold</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4 fade-up delay-2">
      <div class="counter-card">
        <h2 class="counter text-light" data-target="1200">1200</h2>
        <p  class="text-light">Happy Customers</p>
      </div>
    </div>

  </div>
</section>





<section class="about-hero text-center" data-aos="fade-up" data-aos-delay="100">
  <div class="overlay">
    <span class="badge">Who We Are</span>
    <h1>About Our Store</h1>
    <p>Your trusted destination for premium laptops & tech solutions</p>
  </div>
</section>

<section class="container about-content mt-5">

  <div class="row align-items-center mb-5">
    <div class="col-md-6">
      <h2 class="section-title">Driven by Technology</h2>
      <p>
        We specialize in delivering high-performance laptops tailored for
        developers, gamers, designers, and everyday professionals.
      </p>
      <p>
        Our focus is on quality, reliability, and customer satisfaction —
        powered by modern web technologies and secure e-commerce standards.
      </p>
    </div>

  </div>

  <div class="row text-center mb-5" >
    <h2 class="section-title mb-4 "  >Why Choose Us</h2>

    <div class="col-md-4 " data-aos="fade-up" data-aos-delay="100">
      <div class="value-card" >
        <i class="material-icons">speed</i>
        <h5>High Performance</h5>
        <p>Latest processors, SSD storage, and optimized systems.</p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
      <div class="value-card" >
        <i class="material-icons">verified_user</i>
        <h5>Trusted & Secure</h5>
        <p>Original products with warranty and secure payments.</p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
      <div class="value-card" >
        <i class="material-icons">support_agent</i>
        <h5>Expert Support</h5>
        <p>Professional support before and after your purchase.</p>
      </div>
    </div>
  </div>

  <div class="cta-section text-center mb-5" data-aos="fade-up" data-aos-delay="100">
    <h3>Upgrade Your Tech Today</h3>
    <p>Explore our latest laptop collections and exclusive deals.</p>
    <a routerLink="/shop" class="btn btn-outline-light btn-lg">
      Browse Laptops
    </a>
  </div>

</section>
