<div class="login-container">
    <form [formGroup]="formGroup" class="login-card" (ngSubmit)="Submit()">

        <h2>Welcome Back</h2>
        <p class="subtitle">Login to continue</p>


        <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" placeholder="Enter username" />

            <small *ngIf="_username?.touched && _username?.invalid">
                <span *ngIf="_username?.errors?.['required']">Username is required</span>
                <span *ngIf="_username?.errors?.['minlength']">Minimum 3 characters</span>
                <span *ngIf="_username?.errors?.['maxlength']">Maximum 20 characters</span>
            </small>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Enter email" />

            <small *ngIf="_email?.touched && _email?.invalid">
                <span *ngIf="_email?.errors?.['required']">
                    Email is required
                </span>
                <span *ngIf="_email?.errors?.['email']">
                    Invalid email format
                </span>
            </small>
        </div>

        <div class="form-group password-group">
            <label>Password</label>

            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                placeholder="Enter password" />

            <i class="fa toggle-password" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"
                (click)="showPassword = !showPassword">
            </i>

            <small *ngIf="_password?.touched && _password?.invalid">
                <span *ngIf="_password?.errors?.['required']">
                    Password is required
                </span>
                <span *ngIf="_password?.errors?.['minlength']">
                    Minimum 6 characters
                </span>
                <span *ngIf="_password?.errors?.['pattern']">
                    Must include Upper, Lower, Number & Symbol
                </span>
            </small>
        </div>
        <div class="forgot-password">
            <a routerLink="/forgot-password">
                Forgot password?
            </a>
        </div>


        <button type="submit" [disabled]="formGroup.invalid">
            Login
        </button>

        <p class="login-link">
            Don’t have an account?
            <a routerLink="/register">Create account</a>
        </p>

    </form>
</div>